* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.form-login {
  width: 20%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.form-login input + input {
  margin-top: 8px;
  margin-bottom: 8px;
}
