* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container section {
  width: 25%;
  height: 50%;
}

.form-login {
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-login input + input {
  margin-top: 8px;
  margin-bottom: 8px;
}
