.register-container {
  height: 100vh;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-container section {
  width: 25%;
  height: 50%;
}

.form-register {
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
