.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link {
  opacity: 0.8;
}

.background {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/43375087-3875-4574-86c4-4c14c3473535/5ce84abf-27ef-4db8-a615-d185d1927dc0/BR-pt-20200921-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size:cover;
  color:rgb(255, 255, 255);
  direction:ltr;
  display:block;
  font-size:16px;
  height: 100%;
  min-height:426px;
  opacity:0.5;
  overflow-x:hidden;
  overflow-y:hidden;
  position:absolute;
  width:1425px;
  z-index:-1;
}

section h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section input {
  width: 100px;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  color: black;
  background: #e8f0fe;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}

section button {
  margin-top: 8px;
  height: 45px;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  background-color: #0eb551;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;

}
